
nav {
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 0;
  }
  
 
  .show {
    display: block;
  }
  

  .dropdownButton {
    background-color: #4CAF50; 
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropdownButton:hover {
    background-color: #3e8e41;
  }
  
 
  nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  nav ul li {
    padding: 12px 16px;
    text-align: right;
  }
  
  nav ul li:hover {
    background-color: #ddd;
  }
  