.navbar {
 background-color: #333;
overflow: hidden;
}

.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar .dropdownButton {
    background-color: #333;
    border: none;
    cursor: pointer;
    padding: 14px 16px;
    color: white;
    text-align: center;
    display: none;
}

.navbar .dropdownContent a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.navbar .dropdownContent a:hover {
    background-color: #ddd;
}

.navbar .dropdown:hover .dropdownContent {
    display: block;
}

.video-background {
    position: fixed; 
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -100; 
  }
  

  .video-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7); 
    z-index: -50; 
  }

@media screen and (max-width: 600px) {
    .navbar a {
        display: none; 
    }

    .navbar .dropdownButton {
        display: block; 
    }
}

/* Main color theme for the App */
:root {
    --deep-brown-hardwood: #5C4033; /* Primary Color: Deep Brown Hardwood */
    --off-white: #F5F5F5;          /* Secondary Color: Off-White */
    --white: #FFFFFF;              /* Accent Color: White */
    --light-brown-tan: #D2B48C;    /* Accent Color: Light Brown/Tan */
    --dark-charcoal: #36454F;      /* Additional Accent: Dark Charcoal */
    --natural-green: #556B2F;      /* Additional Accent: Natural Green */
}

body {
    font-family: 'Arial', sans-serif;
    background-color: var(--off-white);
    color: var(--dark-charcoal);
}

a {
    color: var(--natural-green);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

button {
    background-color: var(--deep-brown-hardwood);
    color: var(--white);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover {
    background-color: var(--light-brown-tan);
}
